/*-- scss:defaults --*/

// optional colors
$black: #212529;
$coralred: #F21356;
$cyanblue: #4DD0E1;
$teal: #18BC9C;

// main colors
// $reg: #158ACF;
$highlight: #18BC9C;

$navbar-bg: transparent;
$navbar-fg: $black;
$link-color: $highlight;

/*-- scss:rules --*/

// document title styling
// .title {
  // color: $reg;
  // font-size: 2.3em;
// }

// document title styling
#custom-title {
  color: $highlight;
  font-size: 2.3em;
}

// highlight text custom stying
.highlight-color {
  color: $highlight; 
  font-weight: bold;
}

#quarto-back-to-top {
  color: $highlight !important;
}
